<a href="https://colab.research.google.com/github/dawidSkowron20/data-science-bootcamp/blob/main/analiza_danych_pandas/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

pd.__version__

'1.3.5'

Podstawowe stuktury danych: pd.Series

In [ ]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [ ]:
s = pd.Series(data=[3, 2, 4, 6], index=list('abcd'), name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [ ]:
s = pd.Series(data=[3., 2, 4, 6], index=list('abcd'), name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[3., np.nan, 4, 6], index=list('abcd'), name='sample') 
s # nan nie jest brane pod uwagę podczas wyliczeń np. średnia, nie jest to zero!

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [ ]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [ ]:
s = pd.Series(data=np.arange(10, 20), 
              index=pd.date_range(start='20200101',periods = 10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [ ]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [ ]:
s.dtypes

dtype('int64')

In [ ]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [ ]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [ ]:
s.dtypes # O - object

dtype('O')

In [ ]:
s.shape

(3,)

In [ ]:
price = pd.Series(data={'Apple': 200, 'CD Projekt':60,
                        'Amazon' : 1900,'KGHM' : np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price['CD Projekt']

60.0

In [ ]:
price[1]

60.0

In [ ]:
price.count() # zliczanie ile mamy elementów w obiekcie Series

3

In [ ]:
price.value_counts() # ilość wystąpień konkretnych danych

200.0     1
60.0      1
1900.0    1
dtype: int64

In [ ]:
price.sum() # sumuje wartości wszystkie

2160.0

In [ ]:
price.min()
price.max() # itd wszystko co z pandasa

1900.0

In [ ]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [ ]:
price.dropna()

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
dtype: float64

In [ ]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [ ]:
price.nlargest(1)

Amazon    1900.0
dtype: float64

In [ ]:
price.nsmallest(2) # bazowo pomija nan

CD Projekt     60.0
Apple         200.0
dtype: float64

In [ ]:
price.rank() # zwraca ranking od najmniejszego

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [ ]:
price.rank(axis=0, ascending=False) # ranking od największego

Apple         2.0
CD Projekt    3.0
Amazon        1.0
KGHM          NaN
dtype: float64

In [ ]:
price.sort_values() # sortuje rosnąco

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price.sort_values(ascending=False) # sortuje malejąco

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln = price.apply(lambda x : x * 3.8) # do apply zawsze lambda, 
                                #zmiana sie nie dokonala
                                # bo nie dopisalismy do price

In [ ]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [ ]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

Podstawowe struktury danych: DataFrame

In [ ]:
df = pd.DataFrame(data=[12, 12, 32])
df

    0
0  12
1  12
2  32

In [ ]:
df = pd.DataFrame(data=[12, 12, 32], index=['first', 'second', 'third'],
                  columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [ ]:
df = pd.DataFrame(data={'WIG20' : ['PKN Orlen', 'PKO BP'],
                        'mWIG40' : ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN Orlen    Amica
1     PKO BP  Playway

In [ ]:
df = pd.DataFrame([[1, 2, 4], [5, 6, 7]], index=['first', 'second'],
                  columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first       1      2      4
second      5      6      7

In [ ]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [ ]:
df.index

Index(['first', 'second'], dtype='object')

In [ ]:
df.values

array([[1, 2, 4],
       [5, 6, 7]])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [ ]:
df.describe()

          col_1     col_2    col_3
count  2.000000  2.000000  2.00000
mean   3.000000  4.000000  5.50000
std    2.828427  2.828427  2.12132
min    1.000000  2.000000  4.00000
25%    2.000000  3.000000  4.75000
50%    3.000000  4.000000  5.50000
75%    4.000000  5.000000  6.25000
max    5.000000  6.000000  7.00000

In [ ]:
df.describe().T

       count  mean       std  min   25%  50%   75%  max
col_1    2.0   3.0  2.828427  1.0  2.00  3.0  4.00  5.0
col_2    2.0   4.0  2.828427  2.0  3.00  4.0  5.00  6.0
col_3    2.0   5.5  2.121320  4.0  4.75  5.5  6.25  7.0

Selekcja kolumn

In [ ]:
df

        col_1  col_2  col_3
first       1      2      4
second      5      6      7

In [ ]:
df['col_1'] # zwraca Series

first     1
second    5
Name: col_1, dtype: int64

In [ ]:
type(df['col_1'])

pandas.core.series.Series

In [ ]:
df[['col_1']] # zwraca DataFrame

        col_1
first       1
second      5

In [ ]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [ ]:
df.columns = list('abc')
df

        a  b  c
first   1  2  4
second  5  6  7

In [ ]:
df.a # zwraca Series

first     1
second    5
Name: a, dtype: int64

In [ ]:
df.columns = ['a', 'sprzedaz_grudzien', 'c']
df

        a  sprzedaz_grudzien  c
first   1                  2  4
second  5                  6  7

In [ ]:
df.sprzedaz_grudzien

first     2
second    6
Name: sprzedaz_grudzien, dtype: int64

In [ ]:
df['d'] = df.a + df.c
df

        a  sprzedaz_grudzien  c   d
first   1                  2  4   5
second  5                  6  7  12

In [ ]:
df = pd.DataFrame([[1, 2, 4], [5, 6, 7]], index=['first', 'second'],
                  columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first       1      2      4
second      5      6      7

In [ ]:
df.loc['first'] # loc - po nazwie

col_1    1
col_2    2
col_3    4
Name: first, dtype: int64

In [ ]:
df.iloc[0] # numerycznie

col_1    1
col_2    2
col_3    4
Name: first, dtype: int64

In [ ]:
df.loc['first', 'col_2'] # wycinanie elemntu

2

In [ ]:
df.loc[:, 'col_2'] # wycinanie kolumny

first     2
second    6
Name: col_2, dtype: int64

In [ ]:
df.iloc[0,1] # wycnanie elementu

2